{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Kontaktai</h1>
            </div>
            <div class="col">
                <ul>
                    <li>namai</li>
                    <li>telefono nr</li>
                    <li>email</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}