{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Darbo patirtis</h1>
            </div>
            <div class="col">
                <ul>
                    <li>Pirmas darbas</li>
                    <li>Antras darbas</li>
                    <li>Trecias darbas</li>
                    <li>Bedarbis</li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}