{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Portfolio</h1>
            </div>
            <div class="col">
                <ul>
                    <li>tuscia</li>
                    <li>tuscia</li>
                    <li>tuscia</li>
                    <li>tuscia</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}