{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Igudziai</h1>
            </div>
            <div class="col">
                <ol>
                    <li>be igudziu</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}